################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMC.API.Services/bin/Debug/netcoreapp3.1
